
<div class="" style="display: flex; margin-top: 80px!important;">
  <!-- All event cards -->
  <div class="flat-cards" style="height: 600px; width: 60%">
  <!-- Search Bar -->
<div class="searchbar">
  <%= form_tag events_path, class:"form-inline my-search", method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control searchbarindex",
  placeholder: "Find an event"
  %>
  <%= submit_tag "Search", class: "btn btn-primary tita" %>
  <% end %>
</div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-5">
          <button type="button" class="btn" data-toggle="modal" data-target="#event<%=event.id%>">
            <div class="card box-shadow m-3 card-event" style="grid-auto-rows: auto;">
              <% if event.photo.attached? %>
                <%= cl_image_tag event.photo.key, height: 220, width: 350, crop: :fill, class: "card-img-top", style: "object-fit: cover" %>
              <% else  %>
                <img class="card-img-top" src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8? ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="Card image cap">
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= event.name.upcase %></h5>
                <p class="card-text"><%= event.address.capitalize %></p>
              </div>
            </div>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Map -->
   <div id="map"
       style="position: -webkit-sticky; position: sticky; top: 0; width: 40%"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<% @events.each do |event| %>
<!-- Modal -->
  <div class="modal fade" id="event<%=event.id%>" tabindex="-1" aria-labelledby="event<%=event.id%>Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="event<%=event.id%>Label"><%= event.name %></h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
         <!-- Content of the modal -->
          <p><%= event.date%></p>
          <p>Category: <%= event.category%></p>
          <p>Description: <%= event.description%></p>
          <p>Capacity: <%= event.capacity%></p>
          <p>Address: <%= event.address%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Save event</button>
          <%= simple_form_for([event, Booking.new]) do |f| %>
            <%= f.submit "Book Event" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
