
<!-- Map -->

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- Search Bar -->

<%= form_tag events_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an event"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<!-- All event cards -->

<div class="flat-cards">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-3">
          <div class="card box-shadow m-3 card-event">
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, height: 220, width: 300, crop: :fill %>
            <% else  %>
              <img class="card-img-top" src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8? ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="Card image cap">
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-text"><%= event.address %></p>
              <button
              type="button" class="btn btn-primary" data-toggle="modal" data-target="#event<%=event.id%>">
                <%= event.name %>
              </button>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<% @events.each do |event| %>
<!-- Modal -->
<div class="modal fade" id="event<%=event.id%>" tabindex="-1" aria-labelledby="event<%=event.id%>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="event<%=event.id%>Label"><%= event.name %></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!-- Content of the modal -->
        <p><%= event.date%></p>
        <p>Category: <%= event.category%></p>
        <p>Description: <%= event.description%></p>
        <p>Capacity: <%= event.capacity%></p>
        <p>Address: <%= event.address%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Save event</button>
        <%= simple_form_for([event, Booking.new]) do |f| %>
          <%= f.submit "Book Event" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<%end%>
