<div class= "container pl-2 pb-5">
<h1><strong>Create your Event!</strong></h1>
</div>

<div class="container border border-light rounded-lg">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs text-white p-3">
      <%= f.input :name, placeholder:"First Name and Last Name"%>
      <%= f.input :address, placeholder:"Street, City, State and Zip Code" %>
      <%= f.input :description, placeholder:"Write a short description of your event..." %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.select :category, %w(music sports poetry fitness) %>
      <%= f.input :capacity, placeholder:"How many people are allowed? " %>
    </div>

     <%= f.input :photo, as: :file %>

    <div class="form-actions mb-5 p-3 rounded-sm btn btn-info">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
