<div class="hero-image position-absolute"></div>
<div id="container">
  <div id="main">
    <div container class="position-center">
      <div class="home-content" >
        <h1 class="text-center"><strong>Take your Hobbie<br>anywhere!</strong></h1>
        <div class="wrapper">
         <!--  <button class="button">Go!</button> -->
         <%= link_to "<button>Go!</button>".html_safe, events_path, id: "go" %>
         </div>
      </div>
    </div>

<!--
    <% @events.each do |event| %>
    <div class="modal fade" id="event<%=event.id%>" tabindex="-1" aria-labelledby="event<%=event.id%>Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="event<%=event.id%>Label"><%= event.name %></h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <p><%= event.date%></p>
            <p>Category: <%= event.category%></p>
            <p>Description: <%= event.description%></p>
            <p>Capacity: <%= event.capacity%></p>
            <p>Adress: <%= event.address%></p>
          </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Save event</button>
            <button type="button" class="btn btn-primary">Book event</button>
          </div>
        </div>
      </div>
    <%end%> -->
  </div>
</div>

