<div class="hero-image position-absolute"></div>

<div id="container">
    <div container class="position-center">
      <div class="home-content" >
        <h1 class="text-center"><strong>Take your Hobby<br>anywhere!</strong></h1>
      </div>
    </div>

   <!--  Search Bar -->

  <div id="container">
      <div container class="position-center">
        <div class="search">
          <%= form_tag events_path, class:"form-inline", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an event"
          %>
          <%= submit_tag "Search", class: "btn btn-primary tita" %>
          <% end %>
        </div>
      </div>
  </div>

    <!--  -->

    <div class="flat-cards">
        <div class="row">
          <% @events.each do |event| %>
            <div>
              <button type="button" class="btn" data-toggle="modal" data-target="#event<%=event.id%>">
                <div class="card box-shadow card-event">
                  <% if event.photo.attached? %>
                    <%= cl_image_tag event.photo.key, height: 220, width: 350, crop: :fill, class: "card-img-top", style: "object-fit: cover" %>
                  <% else  %>
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8? ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="Card image cap">
                  <% end %>

                  <div class="card-body">
                    <h5 class="card-title"><%= event.name.upcase %></h5>
                    <p class="card-text"><%= event.description.capitalize %></p>
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#event<%=event.id%>"> -->
                  </div>
                </div>
              </button>
            </div>
          <% end %>
        </div>
    </div>

    <% @events.each do |event| %>
    <div class="modal fade" id="event<%=event.id%>" tabindex="-1" aria-labelledby="event<%=event.id%>Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="my-header">
          <h5 class="modal-title" id="event<%=event.id%>Label"><%= event.name.upcase %></h5>
          <button type="button" class="btn-close btn-dark model-x" data-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
         <!-- Content of the modal -->
          <% if event.photo.attached? %>
                <%= cl_image_tag event.photo.key, height: 220, width: 350, crop: :fill, class: "card-img-top", style: "object-fit: cover" %>
          <% else  %>
                <img class="card-img-top" src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8? ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="Card image cap">
              <% end %>
          <p><%= event.date%></p>
          <p>Category: <%= event.category.capitalize%></p>
          <p>Description: <%= event.description.capitalize%></p>
          <p>Capacity: <%= event.capacity%></p>
          <p>Address: <%= event.address.capitalize%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark b-r" data-dismiss="modal">Save Event</button>
          <%= simple_form_for([event, Booking.new]) do |f| %>
            <%= f.submit "Book Event", class: "btn btn-dark b-r" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
 <% end %>
</div>

